/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #C2C8C5, #D0D0DA); /* Colores suaves del fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Contenedor Principal */
.login-container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 15px;
    border: 3px solid #7697A0; /* Color del marco */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Encabezado */
h2 {
    font-size: 2.4em;
    font-weight: 700;
    color: #4A707A; /* Color del título */
    margin-bottom: 30px;
}

/* Grupo de entradas */
.input-group {
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #94B0B7; /* Borde en tono suave */
    border-radius: 8px;
    background-color: #F5F5F5; /* Fondo claro */
    outline: none;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #7697A0; /* Color más intenso al hacer foco */
    background-color: #ffffff;
}

/* Botón de Ingreso */
.login-btn {
    background-color: #4A707A;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
    background-color: #7697A0; /* Color más claro al pasar el mouse */
    transform: scale(1.05);
}

/* Estilos responsivos */
@media screen and (max-width: 480px) {
    .login-container {
        padding: 30px 20px;
    }

    h2 {
        font-size: 1.8em;
    }

    input {
        padding: 12px;
        font-size: 14px;
    }

    .login-btn {
        padding: 12px;
        font-size: 16px;
    }
}
