<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicciones de Demanda</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/predicciones.css') }}"></head>
<body>
    <div class="container">
        <header>
            <h1>Predicciones de Demanda</h1>
        </header>
        <main>
            <h2>Listado de Predicciones</h2>
            <table id="prediccionesTable">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Predicción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prediccion in predicciones %}
                    <tr>
                        <td>{{ prediccion.ds }}</td>
                        <td>{{ prediccion.yhat }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>
